<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FileUpload" type="Logging_App.WebService.FileUpload" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--应用名称-->
    <add key="AppName" value="测井专业填报系统" />
    <!--BigAnt服务器地址-->
    <add key="BigAntServer" value="10.132.203.196" />
    <!--BigAnt服务器端口-->
    <add key="BigAntServerPort" value="6080" />
    <!--BigAnt消息发送者帐号-->
    <add key="BigAntLoginName" value="test" />
    <!--BigAnt消息发送者密码-->
    <add key="BigAntPassword" value="123456" />
    <!--设置可以查看的文件后缀名 ; 号分隔-->
    <add key="FileViewExtensions" value="xls;xlsx;doc;docx;bmp;dib;jpg;jepg;jpe;jfif;gif;tif;tiff;png;pdf" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=;database=.....,上面则设置为false。 -->
    <!--文件下载服务器-->
    <add key="basicPath" value="ftp://10.132.203.203:1021/fileupload/"/>
    <add key="userId" value="LoggingAppUser"/>
    <add key="userPwd" value="Te123456st"/>
    <!--推送西油服务器-->
    <add key="FtpURI" value="ftp://10.132.203.203:1021/fileupload/"/>
    <add key="FtpUserID" value="LoggingAppUser"/>
    <add key="FtpPassword" value="Te123456st"/>
    <!--推送A1-->
    <add key="A1_URI" value="ftp://10.89.145.37:21/"/>
    <add key="A1_UID" value="user_cj"/>
    <add key="A1_PWD" value="cejing"/>
    <add key="SyncUserConnectionString" value="User Id=syncuser;Password=sync_001user;Database=JRX;Server=10.132.203.196" />
    <!--<add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.132.176.9)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=cgcjdata)));User ID=cj;Password=test"/>-->
    <!--<add key="ConnectionString" value="DATA SOURCE=CEJING9;PASSWORD=123456;PERSIST SECURITY INFO=True;USER ID=LOGGINGAPPUSER" />-->
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.132.203.203)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=cejing)));User ID=LoggingAppUser;Password=test" />
    <!--<add key="ConnectionString" value="Data Source=10.132.203.204/cejing;User ID=LoggingAppUser;Password=test;"/>
    
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=cj;Password=test"/>
    -->
    <add key="A12_ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=11.132.0.28)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=qhsoft)));User ID=cqa12was;Password=cqqwer1357" />
    <add key="YTHPT_ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=11.132.0.28)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=qhsoft)));User ID=cqa12was;Password=cqqwer1357" />
    <add key="XY_ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.132.203.203)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=cejing)));User ID=LoggingAppUser;Password=test" />
  </appSettings>
  <connectionStrings>
    <add name="EntitiesA12" connectionString="metadata=res://*/DAL.A12Model.csdl|res://*/DAL.A12Model.ssdl|res://*/DAL.A12Model.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ythpt;PASSWORD=cqqwer1357;USER ID=cqa12was&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EntitiesA12" connectionString="metadata=res://*/DAL.A12Model.csdl|res://*/DAL.A12Model.ssdl|res://*/DAL.A12Model.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ythpt;PASSWORD=cqqwer1357;USER ID=cqa12was&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntitiesLogging" connectionString="metadata=res://*/DAL.LoggingModel.csdl|res://*/DAL.LoggingModel.ssdl|res://*/DAL.LoggingModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=CEJING203;PASSWORD=test;PERSIST SECURITY INFO=True;USER ID=LOGGINGAPPUSER&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows" />
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <!--<httpModules>
      <add name="HttpModule" type="Logging_App.WebService.HttpModule"/>
    </httpModules>-->
    <!--<httpRuntime maxQueryStringLength=""/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <webServices>
      <soapExtensionTypes>
        <add type="Logging_App.WebService.SoapWatchExtension,Logging_App.WebService" priority="1" group="High" />
      </soapExtensionTypes>
    </webServices>
    <httpRuntime maxRequestLength="4096000" executionTimeout="360000"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <FileUpload>
    <Path id="1" name="E:\cejing\LoggingApp\fileupload" used="true"></Path>
    <!--<Path id="1" name="C:\down" used="true"></Path>-->
    <!--<Path id="2" name="\fileupload12"></Path>
    <Path id="3" name="C:\fileupload3"></Path>-->
  </FileUpload>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>